<main role="main" class="container">
    <form>
        <div class="form-row">
            <mat-form-field class="full-width">
                <input matInput placeholder="Title" [(ngModel)]="book.title" name="title">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <textarea matInput placeholder="Description" rows="8" [(ngModel)]="book.description" name="description"></textarea>
            </mat-form-field>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="full-width">
                    <input type="text" placeholder="Authors" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="book.authors" name="authors">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let author of authors" [value]="author.title">
                            {{author.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Publisher" [(ngModel)]="book.publisher" name="publisher">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="short-width">
                    <input matInput placeholder="Price" type="number" class="right-align" [(ngModel)]="book.price" name="price">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="short-width">
                    <input matInput placeholder="Pages" type="number" class="right-align" [(ngModel)]="book.pages" name="pages">
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="short-width">
                    <input matInput [matDatepicker]="picker" placeholder="Publish Date" [(ngModel)]="book.publishDate" name="publishDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group col-md-6">
                <mat-form-field class="short-width">
                    <mat-select placeholder="Cover Type" [(ngModel)]="book.coverType" name="coverType">
                        <mat-option *ngFor="let coverType of coverTypes" [value]="coverType">
                            {{coverType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <mat-form-field class="short-width">
                    <input matInput placeholder="ISBN" [(ngModel)]="book.isbn" name="isbn">
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button color="primary">Save</button>
        <button mat-raised-button id="cancel-btn" [routerLink]="['/administration/books']">Cancel</button>
    </form>
</main>
