img {
    max-width: 250px;
    max-height: 350px;
}

ul {
    list-style: none;
}

::ng-deep #info-tile figure {
    display: block !important;
}

::ng-deep #navigation-info-tile figure {
    display: block !important;
}

::ng-deep #detailed-info-tile figure {
    display: block !important;
    div.moreInfo,
    div.description {
        padding: 10px;
    }
}
