mat-card {
    margin: 10px;
}

mat-card-content {
    display: flex;
    flex-direction: row;
}

mat-card-footer {
    margin-left: 0px;
    font-size: 14px;
}

button:first-of-type {
    margin-left: 15px;
}

button {
    outline: none;
    &[color="gray"] {
        color: #6c757d
    }
    &:last-of-type:hover {
        color: #f44336
    }
}

.mat-card-image:first-child {
    margin: unset
}

img {
    max-width: 130px;
    margin-right: 10px;
    float: left;
}

img::after {
    content: "";
    clear: both;
    display: table;
}

strong {
    color: #5eb805;
    font-size: 20px;
    font-weight: normal;
}
