.full-width,
mat-form-field {
    width: 100%;
}

.short-width {
    width: 50%;
}

.right-align {
    text-align: right;
}

#cancel-btn {
    margin-left: 20px;
}

button {
    outline: none;
}

form {
    max-width: 800px;
}
